// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vue Bootstrap
@import 'node_modules/bootstrap-vue/src/index.scss';


.table_image_link {
    padding: 5px;

    img {
        max-width: 80px;
        max-height: 80px;
    }
}

.image_block {
    position: relative;
    .remove_image{
        position: absolute;
        right: -5px;
        top: -10px;
        font-size: 20px;
        z-index: 1;
        color: #dc3545;
        &:hover{
            cursor: pointer;
            opacity: 0.6;
        }
        &:active{
            opacity: 1;
        }
    }
    img {
        max-height: 100px;
        max-width: 100px;
        padding: 5px;
        margin: 5px;
    }
    display: inline-block;
}

